/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: hsl(185, 75%, 39%);
  color: hsl(229, 23%, 23%);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

section::before {
  content: '';
  background-image: url(images/bg-pattern-top.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -900px;
  left: -400px;
  width: 1350px;
  height: 1350px;
  z-index: 1;
}
section::after {
  content: '';
  background-image: url(images/bg-pattern-bottom.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: -900px;
  right: -400px;
  width: 1350px;
  height: 1350px;
  z-index: 1;
}

section .card {
  background-color: #fff;
  width: 350px;
  height: 375px;
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2), 0 15px 60px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

section .card .card-header {
  background-image: url(images/bg-pattern-card.svg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 140px;
}

section .card .card-person {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

section .card .card-person .imgBx {
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

section .card .card-person .imgBx img {
  max-width: 100%;
}

section .card .card-person h2 {
  font-size: 18px;
  margin-top: 25px;
  font-weight: 700;
}

section .card .card-person h2 span {
  margin-left: 10px;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

section .card .card-person p,
section .card .card-footer ul li p {
  margin-top: 15px;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  letter-spacing: 1px;
}

section .card .card-footer {
  padding: 50px 20px 10px;
}

section .card .card-footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section .card .card-footer ul li {
  list-style-type: none;
  text-align: center;
}

section .card .card-footer ul li p {
  margin-top: 7px;
  font-size: 14px;
}

section .attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 7px 0;
  text-align: center;
  transition: 0.3s;
  z-index: 3;
  transform: translateY(27px);
}

section .attribution::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 60px;
}

section .attribution:hover {
  transform: translateY(0);
}

section .attribution a {
  text-decoration: none;
}
